.left,.right{

	
	height: 400px;
	border: 0px ;
	float: left;
	color: grey;
}
.left{
	width:700px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.right{
	width:580px;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	

}
#contimg{ /*page highlight image defination*/
	height:320px;
	width:700px; 
}
.linput{ /*email form input defination*/
	height: 40px;
	width: 450px;
	text-align: center;
	margin-left: 10px;
	background-color: #DBD5C8;
	color: white;
}
.buton{ /*Next button in inpage*/
	height: 40px;
	width: 450px;
	text-align: center;
	margin-left: 10px;
	background-color: #D1D2FF;
	color: purple;
	border:0px;
	display: block;
	text-align: center;
	vertical-align: middle;

}
#contlogo{ /*footer content logo*/
	height:60px;
	width:60px
}
.inp{  /*form input defination*/
	height:20px;
	margin:5px;
	width:160px;

}
#hat{
	height: 100px;

}
.parent{
    position: fixed;
    background-color: rgba(255,200,200,0.5);    
    width: 300px;
    height: 70px;
    bottom: 0;
    left: 1340;
    right: 0;
}
#rglog{
	background-color:#D4BCAC;
}